<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand"  routerLink="">
            <div class="img-box b1">
              <img src="assets/images//header-logo.png" alt="" />
            </div>
            
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item " [routerLink]="['']" routerLinkActive="active"   [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link"   >Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item " [routerLink]="['agences']" routerLinkActive="active">
                <a class="nav-link"  > Agences </a>
              </li>
            
              <li class="nav-item " [routerLink]="['contact']" routerLinkActive="active">
                <a class="nav-link" >Contact us</a>
              </li>
              <li *ngIf = "!present()" class="nav-item" [routerLink]="['loginn']" routerLinkActive="active">
                <a class="nav-link" >Login</a>
              </li>
              <li *ngIf = "present()" class="nav-item" [routerLink]="['/logout']" routerLinkActive="active">
                <a class="nav-link" >Logout</a>
              </li>
              <li *ngIf = "hasPermission()" class="nav-item" [routerLink]="['/listg']" routerLinkActive="active">
                <a class="nav-link" >Gestion </a>
              </li>
              <li class="nav-item" [routerLink]="['actuality']" routerLinkActive="active">
                <a class="nav-link" >actuality</a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                    <!-- item-->
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome !</h6>
                    </div>
    
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>My Account</span>
                    </a>
    
              
                    <!-- item-->
                    <!-- <a (click)="logout()" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Logout</span>
                    </a> -->
                </div>
              </li>
              
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>