.card{
    padding: 20px;
    align-items:  center !important;
}

.card img {
    width: 20% !important   ;
}
/* *{

}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 40px;
}
section{
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sec-1{
    background-color: aquamarine;
}
#sec-2{
    background-color: khaki(red, green, blue);
}
.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.scroll-down::before,
.scroll-down::after*/





